# Enable URL rewriting
RewriteEngine On

# Check if the request URI does not start with /public/
RewriteCond %{REQUEST_URI} !^/public/

# Rewrite all requests that do not start with /public/
# ^(.*)$ captures the entire request URI
# /public/$1 rewrites the request to start with /public/ followed by the captured URI
# [L] flag indicates that this is the last rule to be processed if it matches
RewriteRule ^(.*)$ /public/$1 [L]
